@model ProjetoE.Models.cao_dono

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Relacionamento Cão-Dono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_dono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_dono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_cao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_cao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_cao_dono }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
