@model IEnumerable<ProjetoE.Models.raca>

@{
    ViewBag.Title = "Raça do Cão";
}

<h2>Raça do Cão</h2>

<p>
    @Html.ActionLink("Adicionar Raça", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_raca }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID_raca }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.ID_raca })
        </td>
    </tr>
}

</table>
